Application/Main/Debug
/Debug
Library/CalculateNinegrid/Debug
Library/libpng1250/Debug
Library/zlib127/Debug
/NinegridConverter.opensdf
/NinegridConverter.sdf
/NinegridConverter.v11.suo
Unittest/NinegridCalculator_Unittest/Debug
/ipch
