* text=auto !eol
Application/Main/Main.vcxproj -text
Application/Main/Main.vcxproj.filters -text
Application/Main/NinegridCalculator.aps -text
Application/Main/NinegridCalculator.rc -text
Application/Main/Source.cpp -text
Application/Main/resource.h -text
Library/CalculateNinegrid/CalculateNinegrid.vcxproj -text
Library/CalculateNinegrid/CalculateNinegrid.vcxproj.filters -text
Library/CalculateNinegrid/CalculateNinegrid.vcxproj.user -text
Library/CalculateNinegrid/Common.cpp -text
Library/CalculateNinegrid/Common.h -text
Library/CalculateNinegrid/NinegridCalculator.cpp -text
Library/CalculateNinegrid/NinegridCalculator.h -text
Library/CalculateNinegrid/NinegridCalculatorImpl.cpp -text
Library/CalculateNinegrid/NinegridCalculatorImpl.h -text
Library/CalculateNinegrid/PNGBuffer.cpp -text
Library/CalculateNinegrid/PNGBuffer.h -text
Library/CalculateNinegrid/PNGCodec.cpp -text
Library/CalculateNinegrid/PNGCodec.h -text
Library/libpng1250/libpng1250.vcxproj -text
Library/libpng1250/libpng1250.vcxproj.filters -text
Library/libpng1250/libpng1250.vcxproj.user -text
Library/libpng1250/png.c -text
Library/libpng1250/png.h -text
Library/libpng1250/pngconf.h -text
Library/libpng1250/pngerror.c -text
Library/libpng1250/pnggccrd.c -text
Library/libpng1250/pngget.c -text
Library/libpng1250/pngmem.c -text
Library/libpng1250/pngpread.c -text
Library/libpng1250/pngread.c -text
Library/libpng1250/pngrio.c -text
Library/libpng1250/pngrtran.c -text
Library/libpng1250/pngrutil.c -text
Library/libpng1250/pngset.c -text
Library/libpng1250/pngtest.c -text
Library/libpng1250/pngtrans.c -text
Library/libpng1250/pngvcrd.c -text
Library/libpng1250/pngwio.c -text
Library/libpng1250/pngwrite.c -text
Library/libpng1250/pngwtran.c -text
Library/libpng1250/pngwutil.c -text
Library/zlib127/adler32.c -text
Library/zlib127/compress.c -text
Library/zlib127/crc32.c -text
Library/zlib127/crc32.h -text
Library/zlib127/deflate.c -text
Library/zlib127/deflate.h -text
Library/zlib127/gzclose.c -text
Library/zlib127/gzguts.h -text
Library/zlib127/gzlib.c -text
Library/zlib127/gzread.c -text
Library/zlib127/gzwrite.c -text
Library/zlib127/infback.c -text
Library/zlib127/inffast.c -text
Library/zlib127/inffast.h -text
Library/zlib127/inffixed.h -text
Library/zlib127/inflate.c -text
Library/zlib127/inflate.h -text
Library/zlib127/inftrees.c -text
Library/zlib127/inftrees.h -text
Library/zlib127/trees.c -text
Library/zlib127/trees.h -text
Library/zlib127/uncompr.c -text
Library/zlib127/zconf.h -text
Library/zlib127/zlib.h -text
Library/zlib127/zlib127.vcxproj -text
Library/zlib127/zlib127.vcxproj.filters -text
Library/zlib127/zutil.c -text
Library/zlib127/zutil.h -text
/NinegridConverter.sln -text
/NinegridConverter.v11.suo -text
Unittest/NinegridCalculator_Unittest/NinegridCalculatorImpl_Unittest.cpp -text
Unittest/NinegridCalculator_Unittest/NinegridCalculator_Unittest.vcxproj -text
Unittest/NinegridCalculator_Unittest/NinegridCalculator_Unittest.vcxproj.filters -text
Unittest/NinegridCalculator_Unittest/TestImage/Img10X10_RGB_00ff00.png -text
Unittest/NinegridCalculator_Unittest/TestImage/Img10x10_RGB_0a141e.png -text
Unittest/NinegridCalculator_Unittest/TestImage/Img6x5_RGB_112233.png -text
Unittest/NinegridCalculator_Unittest/TestImage/Img6x5_RGB_a0a1a2.png -text
Unittest/NinegridCalculator_Unittest/TestImage/Img7x6_ARGB_1e2e3e.png -text
Unittest/NinegridCalculator_Unittest/TestImage/TestImage1.png -text
Unittest/NinegridCalculator_Unittest/TestImage/TestImage1.raw -text
Unittest/NinegridCalculator_Unittest/TestImage/TestImage1_Without9GridInfo.png -text
Unittest/NinegridCalculator_Unittest/TestImage/TestImage2.png -text
Unittest/NinegridCalculator_Unittest/TestImage/TestImage2.raw -text
Unittest/NinegridCalculator_Unittest/stdafx.cpp -text
Unittest/NinegridCalculator_Unittest/stdafx.h -text
Unittest/NinegridCalculator_Unittest/targetver.h -text
